{# src/Blogger/BlogBundle/Resources/views/Page/index.html.twig #}
{% extends 'BlogBundle::layout.html.twig' %}

{% block body %}
    <table class="table">
        <tr>
            <th>От кого</th>
            <th>Кому</th>
            <th>Сумма</th>
            <th>Время</th>
        </tr>
        {% for transaction in transactions %}
            <tr>
                <td> {% if transaction.isPayment %}
                        Платежка
                    {% else %}
                        {{ transaction.sourceUser.username }}
                    {% endif %}
                </td>
                <td>{{ transaction.targetUser.username }}</td>
                <td>{{ transaction.amount }}</td>
                <td>
                    {{ transaction.datetime|date("h:m:s m-d-Y") }}
                </td>
            </tr>
        {% else %}
            <p>Платежей нет</p>
        {% endfor %}
    </table>
{% endblock %}