<!-- app/Resources/views/base.html.twig -->
<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html" ; charset=utf-8"/>
    <title>{% block title %}Symblog{% endblock %} - Symblog</title>
    {% block stylesheets %}
        <link href='{{ asset('css/fonts.css') }}' rel='stylesheet' type='text/css'>
        <link href="{{ asset('css/screen.css') }}" type="text/css" rel="stylesheet"/>
        <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet"
              integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
              crossorigin="anonymous">
    {% endblock %}
    <link rel="shortcut icon" href="{{ asset('favicon.ico') }}"/>
    <script src="{{ asset('js/jquery-3.1.1.js') }}"></script>
    <script src="{{ asset('js/main.js') }}"></script>

</head>
<body>

<section id="wrapper">
    <header id="header">
        <div class="top">
            {% block navigation %}
                <nav>

                    <ul class="navigation">
                        <li><a href="{{ path('homepage') }}">Главная</a></li>
                        <li><a href="{{ path('contact') }}">Контакты</a></li>
                        {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                            <li><a href="{{ path('users') }}">Пользователи</a></li>
                            <li><a href="{{ path('pay') }}">Пополнить</a>
                                <b> {{ app.user.balance }}</b>
                            </li>
                            <li><a href="{{ path('logout') }}">Выход</a>
                            </li>
                        {% else %}
                            <li><a href="{{ path('signup') }}">Регистрация</a></li>
                            <li><a href="{{ path('login') }}">Вход</a></li>
                        {% endif %}
                        {% if is_granted('ROLE_ADMIN') %}
                            <li><a href="{{ path('logout') }}">Админка</a>
                            </li>
                        {% endif %}
                    </ul>
                </nav>
            {% endblock %}
        </div>

        <hgroup>
            <h2>{% block blog_title %}<a href="{{ path('homepage') }}">KFU bloggers</a>{% endblock %}</h2>
            <h3>{% block blog_tagline %}<a href="{{ path('homepage') }}">Расскажи о своей студенческой
                    жизни</a>{% endblock %}</h3>
        </hgroup>
    </header>

    {% block body %}{% endblock %}


    <div id="footer">
        {% block footer %}
        {% endblock %}
    </div>
</section>

{% block javascripts %}{% endblock %}
</body>
</html>
