{# src/BlogModule/BlogBundle/Resources/views/Page/about.html.twig #}
{% extends 'BlogBundle::layout.html.twig' %}

{% block title %}About{% endblock %}

{% block body %}
    <article>
        {% for weather in weathers %}
            <h3>{{ weather.country.name }} <span class="label label-default">{{ weather.temp  }} °C</span></h3>
        {% endfor %}
    </article>
{% endblock %}