{# src/Blogger/BlogBundle/Resources/views/Page/contactEmail.txt.twig #}

<p style="color:#08468a">KFU bloggers</p>
<p style="color:#C82829">A contact made by {{ enquiry.name }} at {{ "now" | date("Y-m-d H:i") }}.</p>

<table border = 2>
    <tr>
        <td>
            Reply-To
        </td>
        <td>
            Subject
        </td>
        <td>
            Body
        </td>
    </tr>

    <tr>
        <td>
            {{ enquiry.email }}
        </td>
        <td>
            {{ enquiry.subject }}
        </td>
        <td>
            {{ enquiry.body }}
        </td>
    </tr>
</table>

