{# src/Blogger/BlogBundle/Resources/views/Page/index.html.twig #}
{% extends 'BlogBundle::layout.html.twig' %}

{% block body %}
    {% for post in posts %}
        <div class="panel panel-default">
            <div class="panel-heading">
                <div class="row">
                    <div class="col-xs-3">

                        <img src="{{ post.User.avatarPath }}" alt="not avatar" width="100" height="100">
                    </div>
                    <div class="col-xs-9">
                        <h3>
                            <p>{{ post.User.username }} опубликовал
                                <time datetime="{{ post.createdAt|date('c') }}">{{ post.createdAt|date('l, F j, Y') }}</time>
                            </p>
                        </h3>
                    </div>
                </div>
            </div>
            <div class="panel-body">

                <div class="alert alert-warning">{{ post.title }}</div>
                {{ post.body|raw }}
                <div class="btn-group">
                    {% set class ='btn-default' %}
                    {% for post_like in post.likes %}
                        {% for my_like in likes %}
                            {% if (post_like.id == my_like.id ) %}
                                {% set class ='btn-primary' %}
                            {% else %}
                            {% endif %}
                        {% endfor %}
                    {% endfor %}
                    <div class="btn btn-default count">{{ post.likes | length }}</div>
                    <div class="btn {{ class }} like" data-post_id='{{ post.id }}'>Нравиться
                        <span class="glyphicon glyphicon-heart"></span></div>
                </div>
            </div>
        </div>

    {% else %}
        <p>Постов нет</p>
    {% endfor %}
    {% if size != 0 %}
        <ul class="pagination">
            {% for i in 1..size %}
                {% if page == i %}
                    <li class="active">
                {% else %}
                    <li>
                {% endif %}
               <a href="{{ path('homepage', { 'page': i }) }}">{{ i }}</a></li>
            {% endfor %}
        </ul>
    {% endif %}
    <div class="panel panel-default">
        <div class="panel-body">
            {% if is_granted('ROLE_USER') %}
                {{ render(controller('BlogBundle:Post:add')) }}
            {% else %}
                <h4>Авторизуйтесь чтобы добавить пост</h4>
            {% endif %}
        </div>
    </div>


{% endblock %}