{# src/Blogger/BlogBundle/Resources/views/Page/index.html.twig #}
{% extends 'BlogBundle::layout.html.twig' %}

{% block body %}
    <ul class="list-group">

        {% for user in users %}
            <li class="list-group-item"><a href="{{ path('user_post_list', { 'user_id': user.id }) }}">{{ user.username }}
                </a></li>
        {% else %}
            <p>Пользователей нет</p>
        {% endfor %}
    </ul>

{% endblock %}
