/* latin */
@font-face {
    font-family: 'Irish Grover';
    font-style: normal;
    font-weight: 400;
    src: local('Irish Grover'), local('IrishGrover'), url(http://fonts.gstatic.com/s/irishgrover/v6/kUp7uUPooL-KsLGzeVJbBOgdm0LZdjqr5-oayXSOefg.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}
/* latin */
@font-face {
    font-family: 'La Belle Aurore';
    font-style: normal;
    font-weight: 400;
    src: local('La Belle Aurore'), local('LaBelleAurore'), url(http://fonts.gstatic.com/s/labelleaurore/v7/Irdbc4ASuUoWDjd_Wc3md8dxVGbf3qyhvoXHfU-LjZg.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}