{% extends 'BlogBundle::layout.html.twig' %}

{% block title %}Sign up{% endblock %}


        {% block body %}

            <div class="row">
                <div class="col-md-4 col-md-offset-4">
                    {% if error %}
                        <div class="error">{{ error.message }}</div>
                    {% endif %}
                    <form action="{{ path('login') }}" method="post">
                        <div class="form-group">
                            <label for="username">Username:</label>
                            <input type="text" class="form-control" id="username" name="_username"
                                   value="{{ last_username }}"/>

                            <label for="password">Password:</label>
                            <input class="form-control" type="password" id="password" name="_password"/>
                        </div>
                        <button class="btn btn-primary" type="submit">Login</button>
                    </form>
                </div>
            </div>
        {% endblock %}
