{% extends 'BlogBundle::layout.html.twig' %}


{% block title %}Sign up{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-md-4 col-md-offset-4">
            <header>
                <h1>Sign up</h1>
            </header>


            {{ form_start(form, { 'action': path('signup'), 'method': 'POST','attr': {'class': 'form-group'}  }) }}

            {{ form_errors(form,{'attr':{'class':'alert alert-danger'}}) }}

            {{ form_row(form.username,{'attr':{'class':'form-control'}}) }}
            {{ form_row(form.email,{'attr':{'class':'form-control'}}) }}
            {{ form_row(form.password_repeat.first,{'attr':{'class':'form-control'}}) }}
            {{ form_row(form.password_repeat.second,{'attr':{'class':'form-control'}}) }}

            {{ form_rest(form) }}

            </br>

            <input type="submit" class="btn btn-primary" value="Submit"/>
        </div>
    </div>
{% endblock %}