{# src/Blogger/BlogBundle/Resources/views/Comment/form.html.twig #}

{{ form_start(form, { 'action': path('post_add') , 'method': 'POST', 'attr': {'class': 'blogger'} }) }}

 {{ form_errors(form) }}

            {{ form_row(form.title,{'attr':{'class':'form-control'}}) }}
            {{ form_row(form.is_free,{'attr':{'class':'form'}}) }}
            {{ form_row(form.body,{'attr':{'class':'form-control'}}) }}

            {{ form_rest(form) }}

<p>
    <input type="submit" value="Опубликовать">
</p>
{{ form_end(form) }}

