{# src/Blogger/BlogBundle/Resources/views/Page/index.html.twig #}
{% extends 'BlogBundle::layout.html.twig' %}

{% block body %}
    <ul class="list-group">

    {% for post in posts %}
        <li class="list-group-item"><a href="{{ path('post', { 'post_id': post.id }) }}">{{ post.title }}
    </a>
        {% if post.isFree == false %}
        <b style="color: red">Этот пост является платным</b>
        {% endif %}

            </li>
        {% else %}
            <p>Постов нет</p>
            {% endfor %}
            </ul>

            {% endblock %}