{% extends 'BlogBundle::layout.html.twig' %}
{% block body %}

    <div class="panel panel-default">
        <div class="panel-heading">
            <div class="row">
                <div class="col-xs-3">

                    <img src="{{ post.User.avatarPath }}" alt="not avatar" width="100" height="100">
                </div>
                <div class="col-xs-9">
                    <h3>
                        <p>{{ post.User.username }} опубликовал
                            <time datetime="{{ post.createdAt|date('c') }}">{{ post.createdAt|date('l, F j, Y') }}</time>
                        </p>
                    </h3>
                </div>
            </div>
        </div>
        <div class="panel-body">
            {% if app.session.has('notice') %}
                <div class="alert alert-danger">
                    {{ app.session.flash('notice') }}
                </div>
            {% endif %}
            <div class="alert alert-warning">{{ post.title }}</div>
            {% if assign %}
                {{ post.body|raw }}
            {% else %}
                Пост доступен на платной основе <a class="btn btn-default" href="{{ path('buy_post', {'post_id':post.id}) }}">Купить</a>
            {% endif %}

            <div class="btn-group">
                {% set class ='btn-default' %}
                {% for post_like in post.likes %}
                    {% for my_like in likes %}
                        {% if (post_like.id == my_like.id ) %}
                            {% set class ='btn-primary' %}
                        {% else %}
                        {% endif %}
                    {% endfor %}
                {% endfor %}
                <div class="btn btn-default count">{{ post.likes | length }}</div>
                <div class="btn {{ class }} like" data-post_id='{{ post.id }}'>Нравиться
                    <span class="glyphicon glyphicon-heart"></span></div>
            </div>
        </div>
    </div>

{% endblock %}